## 1. Data Cleaning and Preprocessing

In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

### 1.1. Initial Data Exploration

In [2]:

df = pd.read_csv('../data/loss_details.csv')
print(f"ROWS, COLUMNS : \n {df.shape} \n\n")
print(f"TOP ROWS : \n {df.head()} \n\n")
print(f"COLUMN NAMES : \n {df.columns} \n\n")
print("INFO :")
df.info()
print(f"\n\n DESCRIPTION : \n {df.describe()} \n\n")

ROWS, COLUMNS :
 (38, 14)


TOP ROWS :
   Sl. No.                     State/UT  2018-19  2019-20  % change (YoY)  \
0       1  Andaman and Nicobar Islands     0.11     0.07           -37.0
1       2               Andhra Pradesh     0.15     1.30           797.0
2       3            Arunachal Pradesh     0.01     0.05           566.0
3       4                        Assam     0.81     2.39           195.0
4       5                        Bihar     0.34     0.63            85.0

   2020-21  % change (YoY).1  2021-22  % change (YoY).2  2022-23  \
0     0.00             -98.0     0.00            -100.0     0.00
1     0.72             -45.0     0.29             -59.0     3.30
2     0.38             720.0     0.00             -99.0     0.00
3     1.68             -30.0     1.04             -38.0     0.25
4     1.09              73.0     2.08              90.0     1.20

   % change (YoY).3  2023-24  % change (YoY).4  2024-25 (Till Sept'24)
0               NaN     0.00               NaN                    0.00
1            1022.0     1.76             -0.47                    0.77
2               7.0     0.00             -1.00                    0.01
3             -76.0     0.74              1.95                    0.06
4             -42.0     0.39             -0.67                    0.42


COLUMN NAMES :
 Index(['Sl. No.', 'State/UT', '2018-19', '2019-20', '% change (YoY)',
       '2020-21', '% change (YoY).1', '2021-22', '% change (YoY).2', '2022-23',
       '% change (YoY).3', '2023-24', '% change (YoY).4',
       '2024-25 (Till Sept'24)'],
      dtype='object')


INFO :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No.                 38 non-null     object
 1   State/UT                38 non-null     object
 2   2018-19                 33 non-null     float64
 3   2019-20                 36 non-null     float64
 4   % change (YoY)          34 non-null     float64
 5   2020-21                 35 non-null     float64
 6   % change (YoY).1        35 non-null     float64
 7   2021-22                 36 non-null     float64
 8   % change (YoY).2        35 non-null     float64
 9   2022-23                 36 non-null     float64
 10  % change (YoY).3        33 non-null     float64
 11  2023-24                 36 non-null     float64
 12  % change (YoY).4        32 non-null     float64
 13  2024-25 (Till Sept'24)  37 non-null     float64
dtypes: float64(12), object(2)
memory usage: 4.3+ KB


 DESCRIPTION :
          2018-19    2019-20  % change (YoY)    2020-21  % change (YoY).1  \
count  33.000000  36.000000       34.000000  35.000000         35.000000
mean    5.593636   4.583889      135.029412   4.979429         50.742857
std    16.579965  13.993204      243.034414  14.999836        154.272361
min     0.010000   0.000000      -89.000000   0.000000       -100.000000
25%     0.110000   0.070000      -30.000000   0.110000        -32.500000
50%     0.450000   0.430000       17.000000   0.750000          6.000000
75%     1.430000   1.992500      188.750000   2.175000         89.500000
max    92.290000  82.510000      797.000000  87.130000        720.000000

          2021-22  % change (YoY).2    2022-23  % change (YoY).3     2023-24  \
count   36.000000         35.000000  36.000000         33.000000   36.000000
mean     6.409167         37.742857   4.736667         26.060606   10.552778
std     19.508489        192.892281  14.264627        218.503424   32.457793
min      0.000000       -100.000000   0.000000       -100.000000    0.000000
25%      0.020000        -60.000000   0.010000        -68.000000    0.050000
50%      0.490000        -22.000000   0.430000        -42.000000    1.080000
75%      3.662500         84.000000   3.592500         25.000000    6.050000
max    115.350000        983.000000  85.260000       1022.000000  189.950000

       % change (YoY).4  2024-25 (Till Sept'24)
count         32.000000               37.000000
mean          17.145313                5.488649
std           51.665432               17.605152
min           -1.000000                0.000000
25%           -0.292500                0.020000
50%            0.455000                0.210000
75%            2.095000                2.190000
max          265.740000              101.530000

### 1.2. Data Cleaning

In [4]:
df = df.drop(columns=['Sl. No.'])
df.rename(columns={
    'State/UT': 'State',
    '2018-19': 'Loss_2018_19',
    '2019-20': 'Loss_2019_20',
    '% change (YoY)': 'YoY_Change_2019_20',
    '2020-21': 'Loss_2020_21',
    '% change (YoY).1': 'YoY_Change_2020_21',
    '2021-22': 'Loss_2021_22',
    '% change (YoY).2': 'YoY_Change_2021_22',
    '2022-23': 'Loss_2022_23',
    '% change (YoY).3': 'YoY_Change_2022_23',
    '2023-24': 'Loss_2023_24',
    '% change (YoY).4': 'YoY_Change_2023_24',
    "2024-25 (Till Sept'24)": 'Loss_2024_25'
}, inplace=True)

In [5]:
df.dropna(thresh=df.shape[1] - 5, inplace=True)

In [6]:
# Recalculate YoY changes
years = ['Loss_2018_19', 'Loss_2019_20', 'Loss_2020_21',
         'Loss_2021_22', 'Loss_2022_23', 'Loss_2023_24', 'Loss_2024_25']

for i in range(1, len(years)):
    prev_col = years[i-1]
    curr_col = years[i]
    target_col = f"YoY_Change_{curr_col.split('_')[1]}_{curr_col.split('_')[2]}"

    df[target_col] = np.where(
        df[prev_col] == 0,
        np.where(df[curr_col] == 0, 0, np.inf),
        ((df[curr_col] - df[prev_col]) / df[prev_col]) * 100
    )

In [7]:
# Fill missing values
loss_cols = [col for col in df.columns if 'Loss_' in col]
df[loss_cols] = df[loss_cols].fillna(0)
yoy_cols = [col for col in df.columns if 'YoY_Change_' in col]
df[yoy_cols] = df[yoy_cols].fillna(0)

print("Data cleaning complete.")
df.info()

Data cleaning complete.
<class 'pandas.core.frame.DataFrame'>
Index: 36 entries, 0 to 37
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               36 non-null     object
 1   Loss_2018_19        36 non-null     float64
 2   Loss_2019_20        36 non-null     float64
 3   YoY_Change_2019_20  36 non-null     float64
 4   Loss_2020_21        36 non-null     float64
 5   YoY_Change_2020_21  36 non-null     float64
 6   Loss_2021_22        36 non-null     float64
 7   YoY_Change_2021_22  36 non-null     float64
 8   Loss_2022_23        36 non-null     float64
 9   YoY_Change_2022_23  36 non-null     float64
 10  Loss_2023_24        36 non-null     float64
 11  YoY_Change_2023_24  36 non-null     float64
 12  Loss_2024_25        36 non-null     float64
 13  YoY_Change_2024_25  36 non-null     float64
dtypes: float64(13), object(1)
memory usage: 4.2+ KB

### 1.3. Loading Cleaned Data into MySQL

In [ ]:

db_user = 'root'
db_password = 'Kristine2004$' 
db_host = 'localhost'
db_name = 'banking_analysis'
connection_str = f'mysql+mysqlconnector://{db_user}:{db_password}@{db_host}/{db_name}'
engine = create_engine(connection_str)

df.replace([np.inf, -np.inf], np.nan, inplace=True)

df.to_sql(
    name='banking_losses',
    con=engine,
    if_exists='replace',
    index=False
)
print("loaded to MySQL.")

df.to_csv('banking_losses_for_tableau.csv', index=False)
print("saved to banking_losses_for_tableau.csv")

loaded to MySQL.
saved to banking_losses_cleaned.csv